body
{
    background-color: rgb(243, 231, 209);
}

#test
{
    background-color: brown;
    
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;

    border-radius: 10px;

    width: 200px;
    height: 60px;

    background-image: radial-gradient(circle farthest-corner at top left, rgb(119, 119, 119), rgb(63, 62, 62));
}

#test > p
{
    text-align: center;
    color: white;
    font-size: large;
    font-family: 'Segoe UI';
}