body
{
    background-color: rgb(243, 231, 209);
}

#test
{
    display: table;
    background-color: brown;
    
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;

    border-radius: 10px;

    user-select: none;

    width: 300px;
    height: 90px;

    background-image: radial-gradient(circle farthest-corner at top left, rgb(119, 119, 119), rgb(63, 62, 62));
}

#test > p
{
    display: table-cell;
    text-align: center;
    color: white;
    font-size: large;
    font-family: 'Segoe UI';
    vertical-align: middle;
}

#test2
{
    display: table;
    background-color: brown;
    
    position: absolute;
    transform: translate(-50%, -50%);
    top: 65%;
    left: 50%;

    border-radius: 10px;

    user-select: none;

    width: 300px;
    height: 90px;

    background-image: radial-gradient(circle farthest-corner at top left, rgb(119, 119, 119), rgb(63, 62, 62));
}

#test2 > p
{
    display: table-cell;
    text-align: center;
    color: white;
    font-size: large;
    font-family: 'Segoe UI';
    vertical-align: middle;
}