.container{
    width: 80%;
    margin: auto;
    display: flex;
    gap: 20px;
}
.column{
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.column > img{
    width: 100%;
    border-radius: 10px;
}
body{
    background-color: black;
}